<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DefaultEndpointsProtocol" value="https"/>
    <add key="AccountName" value="dkktestsa"/>
    <add key="AccountKey" value="wyJhVoCBz4l38B2oCy+sbg8IA+fqUlc3/ZPGB3tNE7wqoixJZ2QQBSrWHRcxgWkIFPFYpolQ0GQW0mtGBgwYfg=="/>
    <add key="EndpointSuffix" value="core.windows.net"/>
    <add key="UploadFileName" value="WKK-Open-2018-Registration.csv"/>
    <add key="ContainerName" value="inbox"/>
  </appSettings>
</configuration>